doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Menu Toggles
    link(rel="stylesheet", href="css/styles.css")
  body
    header.main-header
      h1.main-header__title Menu Toggle Animations
    include ../blocks/menu.pug
    block content
