.toggle-menu--3 {
  width: $size;
  height: $size;
  border: 4px solid $dark;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;

  &__line {
    width: 80px;
    height: 8px;
    border-radius: 4px;
    background: $dark;
    transition: all .3s ease;
    transform-origin: left;

    &:nth-child(2) {
      margin: 17px 0;
    }
  }

  &.active {
    border-radius: 50%;
    border-color: $secondary;

    & .toggle-menu--3__line {

      &:nth-child(1) {
        width: 40%;
        transform: translate(-21px, 27px) rotate(-45deg);
      }
      &:nth-child(2) {
        
      }
      &:nth-child(3) {
        width: 40%;
        transform: translate(-21px, -27px) rotate(45deg);
      }
    }
  }
}
